[Unit]
Description=wsn-server
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/wsn/server
Restart=always
RestartSec=1s

User=ubuntu
Group=ubuntu

Environment=WSN_LISTEN="127.0.0.1:8079"
Environment=WSN_SECRET="..."

ExecStart=/home/ubuntu/wsn/server/wsn-server

[Install]
WantedBy=multi-user.target
