[Unit]
Description=wsn-client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/wsn
Restart=always
RestartSec=15s

User=root
Group=root

Environment=WSN_DEVICE=tap42
Environment=WSN_SERVER=wss://.../wsn
Environment=WSN_SECRET=...

ExecStart=/bin/bash wsn-client.bash

[Install]
WantedBy=multi-user.target
