[Unit]
Description=wsn-server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/user/wsn/server
Restart=always
RestartSec=1s

User=user
Group=user

Environment=WSN_LISTEN=127.0.0.1:8079
Environment=WSN_SECRET=...

ExecStart=/home/user/wsn/server/wsn-server

[Install]
WantedBy=multi-user.target
